<nav id="pagination" class="pagination" role="navigation">
	<div class="inner">
	    {{#if prev}}
	        <a class="pagination-item pagination-next" aria-label="Pagina Precedente" href="{{page_url prev}}"><i class="icon-arrow-left"></i> <span>{{t "Post Successivi"}}</span></a>
	    {{/if}}
	    <span aria-current="true" class="pagination-info" aria-label="{{t "Pagina {page} di {pages}" page=page pages=pages}}">{{t "Pagina {page} di {pages}" page=page pages=pages}}</span>
	    {{#if next}}
	        <a class="pagination-item pagination-prev" aria-label="Pagina Successiva" href="{{page_url next}}"><span>{{t "Post Precedenti"}}</span> <i class="icon-arrow-right"></i></a>
	    {{/if}}
	    <div class="clear"></div>
	</div>
</nav>
