<!DOCTYPE html>
<html lang="it-IT">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>{{meta_title}}</title>
	<meta name="HandheldFriendly" content="True" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{{#if bio}}
	<meta name="description" content="{{bio}}" />
{{/if}}
	{{ghost_head}}
	<link rel="stylesheet" href="{{asset "css/dependencies.css"}}" />
	<link rel="stylesheet" href="{{asset "css/style.css"}}" />
</head>
<body class="{{body_class}}">
	<div id="wrapper">
		<div id="ajax-container">
			<nav id="nav" class="nav">
				<div class="nav-logo">
					<a href="{{@site.url}}">
						{{#if @site.logo}}
						<img src="{{@site.logo}}" alt="{{t "Logo" }}" />
						{{/if}}
						<span class="name">{{@site.title}}</span>
						{{#if @site.description}}
							<span class="description">{{@site.description}}</span>
						{{/if}}
					</a>
				</div>
				<div class="nav-menu">
					{{#if @site.navigation}}
					<a class="menu" data-action="menu" data-target="menu"><i class="icon-menu"></i></a>
					{{/if}}
				</div>
			</nav>
			{{{body}}}
			<div id="body-class" style="display: none;" class="{{body_class}}"></div>
			<footer id="footer">
				<section class="credits">
					<span class="credits-software"><a href="https://brindisi.tk/privacy/" target="_blank">Privacy Policy Cookies e GDPR</a> {{t " - " }}<a href="https://brindisi.tk" target="_blank">Brindisi.tk</a>{{t " © "}} {{date format="YYYY"}}</span>
				</section>
			</footer>
			{{#if @site.navigation}}
			{{navigation}}
			{{/if}}
		</div>
	</div>
	{{ghost_foot}}
	<script type="text/javascript" src="https://brindisi.tk{{asset "js/dependencies.js"}}"></script>
	<script type="text/javascript" src="https://brindisi.tk{{asset "js/script.js"}}"></script>
</body>
</html>
