{{!< default}}

<header id="header" class="header{{#if @site.cover_image}} has-cover{{/if}}">
	<div class="inner">
		<a class="header-title" href="{{@site.url}}"></a>
			<h1 style="text-align:center" aria-label="{{@site.title}}" class="header-name">{{@site.title}}</h1>
			{{#if @site.description}}
				<span style="text-align:center" class="header-description">{{@site.description}}</span>
			{{/if}}
	</div>
	{{#if @site.cover_image}}
	<div class="header-cover" style="background-image: url({{img_url @site.cover_image}})"></div>
	{{/if}}
</header>
<div class="wrapper-o">
	<div id="post-index" class="wrapper">

		<main class="content">

			{{> "loop"}}

		</main>

	</div>
</div>
